<!DOCTYPE html>
<html>
  <head>
    <title>Guitar</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
      <% if current_user %>
        <p>Welcome <%= current_user.email %> |
        <%= link_to "explore", instruments_path %> 
 |
          <%= link_to "sign out", destroy_user_session_path, :method => "delete"%>
        </p>
      <% else %>
        <%= link_to "sign up", new_user_registration_path %>
        <%= link_to "sign in", new_user_session_path %>
      <% end %>
      <hr>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
